body{
    font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow: hidden;
    -webkit-font-smoothing:antialiased;/*文字圆滑抗锯齿，多用于英文字体*/
}
.wrap{
    height:200px;
    width:100%;
    background-color: black;
    margin: 0 auto;
    position:relative;
    box-shadow:10px 0 4px #3a3a3a;
}
.moon{
    position:absolute;
    left:50%;
    top:50%;
    height:150px;
    width:150px;
    /*background: url("./img/Passport3.png") top center no-repeat;*/
    background-color: #f7ff87;
    border-radius:50%;
    -moz-border-radius: 50%;
    transform:translate3d(-50%, -50%, 0);/*定位*/
    box-shadow:6px 6px 10px rgba(102,102,102,0.6),
    6px -6px 10px rgba(102,102,102,0.6),
    -6px 6px 10px rgba(102,102,102,0.6),
    -6px -6px 10px rgba(102,102,102,0.6);

}
.moon::after{
    content:"";
    height:150px;
    width:150px;
    border-radius:50%;
    background: black;
    position:absolute;
    left:-100%;
    top:0;
    overflow: hidden;
    animation:linerA  ease-out 8s infinite;
    -webkit-animation:linerA  ease-out 8s infinite;
}
@keyframes linerA{
    0%{
        left:-100%;
        top:0%;
    }
    35%{
        left:0%;
        top:0%;
    }
    50%{
        left:0%;
        top:0%;
    }
    65%{
        left:0%;
        top:0%;
    }
    100%{
        left:100%;
        top:0%;
    }
}
@-webkit-keyframes linerA{
    0%{
        left:-120%;
        top:0%;
    }
    35%{
        left:0%;
        top:0%;
    }
    50%{
        left:0%;
        top:0%;
    }
    65%{
        left:0%;
        top:0%;
    }
    100%{
        left:200%;
        top:0%;
    }
}
a{
    text-decoration: none;
    color:#555;
}
.clr{
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    padding:0;
    margin: 0;
}
.st-container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Josefin","Myriad Pro",Arial,sans-serif;

}
.st-container > input,
.st-container > a{
    width:20%;
    height: 34px;
    line-height: 34px;
    position: fixed;
    bottom: 0;
}
/*隐藏元素的方法（功能需要）*/
.st-container > input{
    /*display: none;/*隐藏不占位，元素没有了*/
    /* position: absolute;left: -99999px;隐藏不占位，元素没有了*/
    /*visibility: hidden;隐藏占位，元素只是看不到，作用还在*/
    opacity: 0;/*隐藏占位，元素只是看不到，作用还在*/
    z-index: 1000;/*设置元素的堆叠顺序,数越大优先级越高*/
}
.st-container > a{
    z-index: 10;
    font-weight: 700;
    font-size: 16px;
    background-color: #3a3a3a;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(192, 35, 29, 0.2);
}
#st-control-1,#st-control-1+a{
    left: 0%;
}
#st-control-2,#st-control-2+a{
    left: 20%;
}
#st-control-3,#st-control-3+a{
    left: 40%;
}
#st-control-4,#st-control-4+a{
    left: 60%;
}
#st-control-5,#st-control-5+a{
    left: 80%;
}
.st-container input:checked +a,
.st-container input:checked:hover +a {
    background-color: #0d223e;
}
.st-container input:checked + a:after{
    content: "";
    width: 0;
    height:0;
    overflow: hidden;
    border: 10px solid transparent;/* 设置三角形*/
    border-bottom-color:#0d223e;
    position: absolute;/* 定位*/
    bottom:100%;
    left:50%;
    margin-left: -10px;/* 居中*/
}
.st-container input:hover +a{
    background-color:rgba(13, 34, 62, 0.4) ;
}

.st-scroll,
.st-panel{
    width: 100%;
    height:100%;
    position: relative;
}
.st-scroll{
    left:0;
    top: 0;
    transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -webkit-backface-visibility:hidden;//不在当前页面隐藏*/
-webkit-transition: all 0.6s ease-in-out ;
    -moz-transition: all 0.6s ease-in-out ;
    -ms-transition:all 0.6s ease-in-out ;
    -o-transition:all 0.6s ease-in-out ;
    transition: all 0.6s ease-in-out ;
}
.st-panel{
    overflow: hidden;
    background-image: url("./img/bg.png") ;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
#st-control-1:checked~.st-scroll{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
}
#st-control-2:checked~.st-scroll{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
}
#st-control-3:checked~.st-scroll{
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
}
#st-control-4:checked~.st-scroll{
    transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
}
#st-control-5:checked~.st-scroll{
    transform: translateY(-400%);
    -webkit-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
}
.st-desc{
    width:200px;
    height:200px;
    background-color:rgba(13, 34, 62, 0.4);
    position: absolute;
    left:50%;
    top:0;
    margin-left: -100px;
    transform: translateY(-60%) rotate(45deg);
    -webkit-transform: translateY(-60%) rotate(45deg);
    -o-transform: translateY(-60%) rotate(45deg);
    -moz-transform: translateY(-60%) rotate(45deg);
    -ms-transform: translateY(-60%) rotate(45deg);
}
[data-icon]:after{
    content: attr(data-icon);
    width:200px;
    height:200px;
    color: black;
    font-size: 40px;
    font-family: KaiTi,STXihei,
    "Microsoft YaHei",
    serif;
    text-shadow: 0 0 4px rgba(192, 35, 29, 0.2);
    text-align: center;
    line-height: 200px;
    position: absolute;
    left:75%;
    top:50%;
    margin: -100px 0 0 -100px;
    transform:translateY(25%)  rotate(-45deg);
    -webkit-transform:translateY(25%)   rotate(-45deg);
    -o-transform:translateY(25%)  rotate(-45deg);
    -moz-transform:translateY(25%)  rotate(-45deg);
    -ms-transform:translateY(25%)   rotate(-45deg);

}
/*导入字体
@font-face {
    font-family:"Raphaelicons";
    src:url('fonts/raphaelicons-webfont.eot')    formart('eot') ,
    url('fonts/raphaelicons-webfont.woff')   formart('woff'),
    url('fonts/raphaelicons-webfont.ttf')    formart('truetype'),
    url('fonts/raphaelicons-webfont.svg')    formart('svg');
[font-weight:normol];
[font-style:normol]
}*/
.st-color{
    background-color: white;}
/*firstpage*/
.information{
    margin:100px 100px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(70, 125, 128, 0.8);
}
.information h1{
   font-size: 40px;
    font-weight:bold;
    color: #f7ff87;
    text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);
}

.information hr{
    height: 0;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}
.information p{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

}
/*basicInfo*/
.basicInfo{
    margin: 200px auto;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    padding: 10px;
}
.basicInfo .basicInfo-list{
    width:50%;
    height: 50%;
    position: relative;
    float:left;
    color: black;
}
#basicInfo-1{
    border-right: 5px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left:300px;
}
.title{
    font-family: 'Dosis', sans-serif;
    font-size:40px ;
    line-height: 40px;
    font-weight: bold;
    color: #3a3a3a;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8),2px 2px rgba(0, 0, 0, 0.8),3px 3px rgba(0, 0, 0, 0.8),4px 4px rgba(0, 0, 0, 0.8),5px 5px rgba(0, 0, 0, 0.8),6px 6px rgba(197, 223, 248,0.8)
}
#basicInfo-2{
    border-left: 5px solid black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 40px;
}
/* skills*/
.ca-skill{
    width: 100%;
    height: 100%;
    position: relative;
}
.ca-menu{
    padding:0 auto;
    margin:200px auto;
    width: 1020px;
    font-family: 'Dosis', sans-serif;
}
.ca-menu li{
    width: 230px;
    height: 230px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-left: 10px;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:first-child{
    margin-left: 0px;
}
.ca-icon{
    font-family: STXihei,
    "Microsoft YaHei",
    serif;
    font-size: 40px;
    color: #000000;;
    line-height: 40px;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 5px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 20px;
    text-align: center;
    height: 80px;
    width: 170px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;

}
.ca-sub{
    text-align:center;
    color: #000;
    font-size: 20px;
    height: 80px;
    width: 170px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:hover{
    background: #f7f7f7;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 45px 60px -50px #000000;
}
.ca-menu li:hover .ca-icon{
    display: none;
}
.ca-menu li:hover .ca-main{
    display: none;
}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}
/*last-page*/
.content{
    margin:200px 100px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(70, 125, 128, 0.8);
    font-family: KaiTi,STXihei,
    "Microsoft YaHei",
    serif;
}
.content hr{
    height: 0;
    width: 50%;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}
.content p{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
/*时间轴*/
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin: 9em 2em 2em ;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 80%;
    width: 4px;
    background: #3a3a3a;
}
.cd-timeline-block {
    position: relative;
    margin: 1em 0;
    border-color: #0d223e;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 6em;
}
.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #75ce66;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float:right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
    }
    .cd-timeline-content p {
        font-size: 16px;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}